.cardTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sparkles {
  width: 20px;
}

.recommendedSection {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 50px;
}
.packageDetailsText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rowFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recommendedPackageName {
  margin: 0;
  font-family: 'Roboto-Medium';
  font-size: 2rem;
  font-weight: unset;
}
.recommendedDetail {
  margin: 0;
  font-family: 'Roboto-Regular';
  font-size: 1.3rem;
  font-weight: unset;
}
.packageDetailCounts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.packageDetailCounts div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.packageDetailCounts p {
  color: rgba(0, 0, 0, 0.45);
  font-family: 'Roboto-Regular';
  font-size: 1.4rem;
  margin: 0;
}
.timesBetter{
  font-size: 2.4rem;
}
.crownSymbol{
  font-size: 1.45rem;
}
.packageDetailCounts h3 {
  font-size: 2.4rem;
  font-family: 'Roboto-Regular';
  font-weight: unset;
  margin: 0;
}
.packageTags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
}
.repoDocLinks{
  color:rgba(0, 0, 0, 0.45);
  font-size: 1.4rem;
  font-family: 'Roboto-Regular';

  display: flex;
  align-items: center;
  gap: 10px;
}