body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  scrollbar-width: thin;
  scrollbar-color: #1890ff #fff;
}

.page-body {
  display: flex;
  background-color: #f0f2f5;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

/* style changes for the Ant Design's TreeSelect Component used in SearchBox Component  */

.ant-select-tree {
  padding-left: 0 !important; 
}

.ant-select-tree-treenode {
  margin-left: 0 !important; 
}

.ant-select-tree-switcher, .ant-select-tree-switcher-noop{
  width:0!important;
  margin-inline-end: 0px!important;
 }
.ant-select-tree-title{
  color: black!important;
  font-weight: normal!important;
}
 
/* fonts addition */
@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}
